$bg-color: #ecf2ff;
$dark-pink: #d2a6ff;


.footer{
    
    background-color: $dark-pink;
    display: flex;
    justify-content: center;
    height: 70px;
    align-items: center;
    width: 100%;
.container{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1{
        font-size: 28px;
        color: white;
    }

    .footer-links{
        display: flex;
        gap: 20px;

        a{
            text-decoration: none;
        }
    }
}
    
}